body{
    background-color: #fef5e7;
}

#test1{
    border: 0 px;
    margin: 0 px;
    padding:0 px;

    float: left;

}


#test2{
    border: 0 px;
    margin: 0 px;
    padding:0 px;

    float: left;
}


.caja-id{
    height: 100px;
    width: 100px;
    background-color: rgb(246, 188, 81);
    font-size: 21px;
}
.td-norm{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.td-norm:hover  .caja-id{
    position: absolute;
    height: 130px;
    width: 130px;
    margin-top: -70px;
    margin-left: -10px;
    border: 2px solid gray;
    transition: 0.5s;
    z-index: 1;

}

p{
    margin: 0;
}
/* NUMERO ATOMICO*/
.caja-id:hover .caja-top-right{
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
}

/* MASA ATOMICO*/
.caja-id:hover .caja-top-left-top{
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}

/* ELECTRONEGATIVIDAD */
.caja-id:hover .caja-top-left-bottom-left{
    font-size: 18px;
    transition: 0.5s;
}

/* VALENCIA */
.caja-id:hover .caja-top-left-bottom-right{
    font-size: 18px;
    transition: 0.5s;
}

/* SIMBOLO */
.caja-id:hover .caja-bottom-left-top p{
    margin-left: 6px;
    font-size: 52px;
    font-weight: bold;
    text-shadow: 2px 2px #a3a2a2;
    transition: 0.5s;
}


/* -------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------*/


.caja-top{
    height: 30%;
    width: 100%;
   /* background-color: rgb(246, 188, 81);*/
    font-size: 7px;
}

.caja-top-left{
    height: 100%;
    width: 70%;
   /* background-color: rgb(246, 188, 81);*/
    font-size: 4px;
    float: left;
}

.caja-top-left-top{
    height: 60%;
    width: 100%;
   /* background-color: rgb(246, 188, 81);*/
    font-size: 15px;
    float: left;
}

.caja-top-left-bottom{
    height: 40%;
    width: 100%;
   /* background-color: rgb(246, 188, 81);*/
    float: left;
}

.caja-top-left-bottom-left{
    height: 100%;
    width: 50%;
   /* background-color: rgb(246, 188, 81);*/
   font-size: 15px;
    float: left;
}

.caja-top-left-bottom-right{
    height: 100%;
    width: 50%;
   /* background-color: rgb(246, 188, 81);*/
   font-size: 15px;
    float: left;
}

.caja-top-right{
    height: 100%;
    width: 30%;
    float: left;
   font-size: 20px;
  text-align: center;
}

.caja-top-right p{
    margin-right: 4px;
}

.caja-bottom-left{
    height: 100%;
    width: 80%;
    float: left;
}

.caja-bottom-left-top{
    height: 70%;
    width: 100%;
    font-size: 33px;
}

.caja-bottom{
    height: 70%;
    width: 100%;
}










  


